@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #0000000;
}

body {
	background: var(--background);
	color: var(--foreground);
}

button {
	cursor: pointer;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.curved-text {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.curved-text span {
	position: absolute;
	transform-origin: center;
	font-size: 9px;
	font-weight: 800;
	color: #f59e0b; /* amber-500 */
	opacity: 0.7;
}

@keyframes shimmer {
	0% {
		background-position: -100% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

.shimmer {
	background: linear-gradient(90deg, #e5e7eb 0%, #f3f4f6 50%, #e5e7eb 100%);
	background-size: 200% 100%;
	animation: shimmer 1.5s infinite linear;
}

p {
	letter-spacing: var(--tracking-wide) /* 0.025em */;
}
